[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/sethk/imgui
	branch = raii
[submodule "ThirdParty/quickhull"]
	path = ThirdParty/quickhull
	url = https://github.com/akuukka/quickhull.git
